table, tr, th, td {
    border-collapse: collapse;
    border: 1px solid black;
}

.colored-column {
    background-color: green;
}

.error {
    color: rgb(196, 20, 20);
    text-shadow: 2px 2px 4px;
}