table, tr, th, td {
    border-collapse: collapse;
    border: 1px solid black;
}

td:first-child, th:first-child {
    background-color: blue;
}

td:last-child, th:last-child {
    background-color: green;
}

.error {
    color: red;
    text-shadow: 10px;
}